<% @title = "Install Assessment" %>

<% content_for :javascripts do %>
  <script type="application/javascript">
    jQuery(function() {
      $importTarballForm = $('#import-tarball-form');
      $tarballFilenameInput = $('#tarFile-name');

      /* two-way-bind newDayField with daysField */
      $tarballFilenameInput.on('change', function() {
        $importTarballForm.submit();
      });
    });
  </script>
<% end %>

<div class="section">
  <h4><li>Create from scratch</h4>
  <h5>You can create a new assessment from scratch using our 
  	<%= link_to "Assessment Builder", new_course_assessment_path %>. </h5>
</div>

