<h4>Found <span id="results-count"><%=  %> 1</span> sections</h4>
<table class="prettyBorder sortable" >
<thead>
  <tr>
    <th>&#8470;</th><!-- "No." symbol. -->
    <th>Name</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th># of students</th>
    <th>TA</th>
  </tr>
</thead>
<!-- Row index is set using CSS. -->
<% CourseUserDatum.group("lecture").where("course_id = ? AND lecture != ''", @course.id).each do |cud| %>
<tr class="user-row">
  <td class="row-index"></td>
<!--   <td><%= cud.lecture %></td>
  <td><%= cud.section %></td> -->
  <td>A1</td>
  <td>12:00pm</td>
  <td>12:50pm</td>
  <td>25</td>
  <td>Bob Test</td>
</tr>
<% end %>
</table>

