<div class="sign-in-panel home">
<h1>Autolab Homepage</h1>

<% if Rails.env == "development" %>
<%= link_to "Developer Login", "/home/developer_login" %><br />
<% end %>
<%= render "devise/shared/links" %>

</div>
