<div id="footer">
    <a href="http://autolabproject.com">Autolab Project</a>
    · <a href="/contact">Contact</a>
    · <a href="https://github.com/autolab/Autolab">GitHub</a>
    · <%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>
